.App {
  text-align: center;
}

.pad {
  padding: 1.3rem;
}

.font {
  font-family: sans-serif;
  font-weight: bolder;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15%;
}

.nr {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  
}

.carousel {
  border: solid black;
  border-width: .2rem;
  border-top: blanchedalmond;
  color: blue;
  font-size: 2rem;
  font-family: sans-serif;
}

.carousel-item > img { 
  width: 100%; 
}


.navbar {
  background-color: black;
}

.masthead {
  margin:0;
  margin-top: 0;
  margin-bottom: 0;
  height: 90vh;
  min-height: 500px;
  background-image: url('../src/images/mike-kenneally-tNALoIZhqVM-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#welcome {
 padding-top: 4rem;
 color: antiquewhite;
 font-size: 1.6rem;
}

.inline {
  display: inline;
}

.btn {
  color: blue;
}

.newsletter {
  margin-top: 13rem;
  margin-right: 5rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, .2); 
  padding: 20px; 
  border-radius: 20px; 
  margin-top: 50px;
}


.float-left {
  float: left;
}

.jumbotron {
  margin: 0;
  margin-bottom: 0;
}

nav {
  background-color: silver;
  color: antiquewhite;
  margin-bottom: 0;
  margin-top: 0;
}

.button {
  font-weight: bolder;
  
  background-color:white;
  border-radius: 20px;
  font-size: 1rem;
}

.logo {
  float: 'left';
  padding-right: 3rem;
}


